
/********** Base styles **********/
* 
   *{ box-sizing: border-box;

   }
  h1 {
    margin-bottom: 15px;
  }

    /* Simple Responsive Framework. */
.col {
    width: 100%;
}
/* this is for the little title by the text*/
 .name{
    width: 30%;
    height: auto;
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    border-color: red;
    float: right;
    position: relative;
    margin-top: 0px;
    background-color: rgb(165,249,300);   
}
/* this is for the text in the box */

.item{
    text-align: left;
    padding: 20px;
    margin-top: 25px;
}
/*this is for the whole "window" text box*/
.Window {
    background-color: rgb(248, 214, 172);
    border: 3px solid black;
    width: 90%; /* this affect the width of the whole box wrt the margin area*/
    height: auto; /* auto makes it so that all content fits in the box*/      
    position: relative;
    margin-left: auto; /* computer calculates optimal location of left side usually takes into consideration the other margins*/
    margin-right: auto;
    margin-bottom: 30px;
  }

.Wall{
    background-color: rgb(248, 214, 172);
    border: 3px solid black;
    width: 90%; /* this affect the width of the whole box wrt the margin area*/
    height: auto; /* auto makes it so that all content fits in the box*/      
    position: relative;
    margin-left: auto; /* computer calculates optimal location of left side usually takes into consideration the other margins*/
    margin-right: auto;
    margin-bottom: 30px;

}

.Ball{
    background-color: rgb(248, 214, 172);
    border: 3px solid black;
    width: 90%; /* this affect the width of the whole box wrt the margin area*/
    height: auto; /* auto makes it so that all content fits in the box*/      
    position: relative;
    margin-left: auto; /* computer calculates optimal location of left side usually takes into consideration the other margins*/
    margin-right: auto;
    margin-bottom: 30px;

}





/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;

    width: 33.33%;

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-4 {
    float: left;

    width: 50%;
  }
}
@media (max-width: 767px) {
    .col-sm-4 {
    float: left;

    width: 100%;
  }

}

